<!-- <div class="about">
    <div class="side">
        <img src="../../../assets/krishna.jpg" alt="">
        <p>
            Hello, my name is Santosh Yadav and I am the founder and CEO of a Go-kart company. With a passion for motorsports, I have built a successful business around providing high-quality and thrilling experiences to customers. In addition to my work in the racing industry, I also run a business dealing with metal scrap. Through both ventures, I am dedicated to creating sustainable solutions and delivering value to my customers.
        </p>
    </div>
    <div class="main">
        <div class="kart">
            <h1>About Go kart </h1>
        <p>
            Go-kart racing is a thrilling and powerful motorsport in which drivers race these little open-wheel cars around a designated area. These karts are usually powered by compact but powerful motors that have a top speed of 60 mph.

        </p>
        <p>
            Kart racing is a popular activity for both amateurs and professionals, and it can be enjoyed by individuals of all ages. The sport requires a combination of skill, strategy, and speed, as drivers must navigate tight turns and sharp corners while maintaining their speed and avoiding collisions with other drivers.
        </p>
        <ul>
            <li>
                <p>
                    Go-kart racing is a thrilling and powerful motorsport in which drivers race these little open-wheel cars around a designated area. These karts are usually powered by compact but powerful motors that have a top speed of 60 mph.
        
                </p>
            </li>
            <li>
                <p>
                    Kart racing is a popular activity for both amateurs and professionals, and it can be enjoyed by individuals of all ages. The sport requires a combination of skill, strategy, and speed, as drivers must navigate tight turns and sharp corners while maintaining their speed and avoiding collisions with other drivers.
                </p>
            </li>
        </ul>
        </div>
        <div class="idea">
            <h1>How i get idea about Go Kart ?</h1>
           
        <ul>
            <li>
                <p>When I was serving in the army, I had the chance to play a go-kart game with my fellow soldiers. It was such an incredible experience that I couldn't get it out of my mind for weeks. That's when I realized that I could turn this exciting activity into a profitable business.</p>
            </li>
            <li>
                <p>I started researching more about the sport and found that there was a huge demand for go-kart racing events, especially among young people. I decided to take the leap and started my own go-kart racing business.</p>

            </li>
            <li>
                <p>I invested in a fleet of high-quality go-karts and secured a suitable location to set up my track. To make the experience even more enjoyable, I added various obstacles and challenges to the track. Within a few months, my business was up and running, and I was overwhelmed by the positive response from customers.</p>

            </li>
        </ul>
     </div> 
       
    </div>
</div> -->

<h1>About US</h1>
<h1>About US</h1>
<h1>About US</h1>
<h1>About US</h1>
<h1>About US</h1>
<h1>About US</h1>
<h1>About US</h1>
<h1>About US</h1>
<h1>About US</h1>
<h1>About US</h1>